.skin-blue .main-header .logo {
    background-color: #004D40;
    color: #fff;
    border-bottom: 0 solid transparent;
}

.skin-blue .main-header .navbar {
    background-color: #00897b;
}

.skin-blue .main-header li.user-header {
    background-color: #004D40;
}

.form-group.excerpt .CodeMirror
{
    height: 130px;
    min-height: 130px;
}

a.selected-status
{
    font-weight: bold;
    
}